body {
  background-color: #A8DADC;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #E63946;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  text-align: center;
}

button:hover {
  background: #E58991;
  text-decoration: none;
  cursor: pointer;
}

.title {
  font-size: 50px;
  font-family: 'Pangolin', cursive;
  text-align: center;
  color: #1D3557;
  padding: 40px;

}

#movie {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1D3557;
  border: 0px;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px 5px 5px 5px;
  background: white;
  cursor: pointer;
}

.info {
  font-size: 18px;
}

.watch {
  color: #E63946;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
}

.watch:hover {
  color: #E58991;
}


.resize {
    width: 300px;
    height: auto;
    float: right;
}

.rate{
    color:black;
    cursor:pointer;
}
.rate:hover{
    color:red;
}
.rate-item{
    float:right;
    cursor:pointer;
    margin:0px 10px 0px 15px;
}
.rate-item:hover ~ .rate-item {
    color: black;
}

.search {
  margin-bottom: 28px;
}

.refresh {
  margin-top: 28px;
}

